{
    "version": 1.0,
    "team": "/CxServer/Cimpress/eCommerce/Stores",
    "sca": {
        "team": "/CxServer/Cimpress/eCommerce/Stores"
    },
    "sast": {
        "engineConfiguration": "Multi-language Scan",
        "forceScan": "true"
    }
    "additionalProperties": {
        "cxFlow": {
            "vulnerabilityScanners": ["sast", "sca"]
        }
    }
}
